
.form{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden; 
    padding: 1%;
    border:1px solid grey; 
    font-weight: bold;
}
.firstLastForm{
    width: 50%;  
    padding: 1%;
}

.birthdayForm{
    width: 35%;
    padding: 1%;
}
.emailForm{
    width: 65%;
    padding: 1%;
}

.button{
    padding: 1%;
}

.jobForm{
    width: 20%;  
    padding: 1%;
}

@media only screen and (width > 125vw){
   .firstLastForm,
  .birthdayForm,
  .emailForm {
    max-width: none; /* Remove a largura máxima quando a largura da tela for menor ou igual a 125vw */
  }

}